
body {
	min-width: 1200px;
	margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #ffffff;
	
	background-color: #849d8f;
}

a {
	text-decoration: none;
	color: #ffffff;
}

a:hover,
a:focus,
a:active {
	color: #ffbc9e;
}

/* .visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

.visually_hidden,
.modal {
	display: none;
}

.btn {
	font: inherit;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	font-weight: 700;
	background-color: #eb583c;
	border: none;
}

.btn:hover,
.btn:focus,
.btn:active {
	background-color: #f07a63;
}

.header {
	width: 1146px;
	height: 118px;
	padding: 0;
	margin: 0 auto;
	background-color: transparent;
	display: flex;
	flex-direction: column;
}

.header_nav {
	width: 1146px;
	height: 64px;
	margin: 0;
	margin-top: 9px;
	padding: 0;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	display: flex;
}

.header_footer {
	width: 1146px;
	height: 45px;
	margin: 0;
	padding: 0;
	display: flex;

}

.header_working_time {
	width: 267px;
	height: 45px;
	margin: 0;
	padding: 0;
	margin-left: auto;
	text-align: right;
	font-size: 14px;
	line-height: 16px;
}

.menu_site_logo {
	width: 154px;
	heigh: 64px;
	margin: 0;
	padding: 0;
	margin-right: 10px;
}

.menu_site_list {
	width: 580px;
	height: 64px;
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.menu_site_item a,
.menu_user_item a {
	display: block;
	vertical-align: center;
}

.menu_site_item a {
	padding-top: 7px;
	padding-right: 13px;
	padding-bottom: 7px;
	padding-left: 14px;
}

.menu_user_list {
	width: 293px;
	height: 64px;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-left: auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.menu_user_item a {
	padding-top: 7px;
	padding-right: 16px;
	padding-bottom: 7px;
	padding-left: 16px;
}

.menu_site_list,
.menu_catalog_list,
.menu_user_list {
	list-style: none;
}

.menu_site_list {
	font-size: 16px;
	line-height: 20px;
}

.menu_catalog_list a {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}

.menu_catalog_list b {
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
}

.menu_user_list {
	font-weight: 500;
}

.phone {
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
}

.menu_catalog_list a {
	color: #323232;
}

.menu_site_list a:hover,
.menu_user_list a:hover,
.menu_site_list a:focus,
.menu_user_list a:focus {
	background-color: #f8f7f4;
	color: #333333;
}

.menu_catalog_list a:hover,
.menu_catalog_list a:focus {
	background-color: #fbded7;
	color: #323232;
}

.menu_site_list a:active {
	background-color: #d07058;
	color: #ffffff;
}

.menu_catalog_list a:active {
	background-color: #f6b5a5;
	color: #323232;
}

.container {
	width: 1146px;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.promo {
	width: 1146px;
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}

.promo_list {
	width: 1146px;
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

.promo_item {
	width: 1146px;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.promo_item:nth-child(2) {
	background-color: #8996a6;
	display: none;
}

.promo_item:nth-child(3) {
	background-color: #9d8b84;
	display: none;
}

.promo_item h3 {
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
	text-align: center;
}

.btn_promo_icecream {
	font-size: 32px;
	line-height: 44px;
	font-weight: 700;
}

.promo_nav {
	background-color: #849d8f;
	color: #323232;
}

.bonus {
	width: 1146px;
	height: 230px;
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
}

.bonus_info {
	width: 520px;
	height: 190px;
	margin: 0;
	padding: 20px;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	text-align: left;
}
.bonus_info:nth-of-type(1) {
	background-color: #650917;
	background-image: url("../img/bonus_back_raspberry.jpg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.bonus_info:nth-of-type(2) {
	background-color: #3d2418;
	background-image: url("../img/bonus_back_choco.jpg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.bonus_info h3 {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
}

.catalog {
	width: 1146px;
	margin: 0;
	margin-bottom: 40px;
	padding: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.catalog_item {
	width: 267px;
	min-height: 328px;
	margin: 0;
	padding: 0;
}

.catalog_item img{
	border-radius: 50%;
}

.catalog_item h3 {
	text-align: center;
}

.catalog_link {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}

.catalog_item p {
	font-size: 30px;
	line-height: 45px;
	font-weight: 700;
	text-align: left;
}

.catalog_price {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
}

.features {
	background-color: #eaddc1;
	background-image: url("../img/wafer_index.jpg");
	background-position: 0 0;
	background-repeat: repeat;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	color: #323232;

	width: 1092px;
	min-height: 266px;
	margin: 0;
	margin-bottom: 40px;
	padding: 20px 27px;
	display: flex;
	flex-direction: column;
}

.features_about_store {
	width: 1092px;
	min-height: 60px;
	margin: 0;
	padding: 0;
	margin-bottom: 7px;
}

.features_list {
	width: 1092px;
	min-height: 190px;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 7px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.features_item {
	width: 540px;
	min-height: 95px;
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #323232;
}

.news_wrapper {
	width: 1146px;
	height: 220px;
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
}

.last_news {
	background-color: #ffffff;
	background-image: url("../img/strawberries_back.jpg");
	background-position: 0 0;
	background-repeat: no-repeat;

	width: 510px;
	min-height: 180px;
	margin: 0;
	padding: 20px 25px;
	display: flex;
	flex-direction: column;
}

.last_news h3 {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #323232;
	width: 280px;
	min-height: 30px;
	margin: 0;
	padding: 0;
}

.news_link {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #323232;
	text-decoration: underline;
	width: 285px;
	min-height: 90px;
	margin: 0;
	padding: 0;
}

.subscribe {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #5a5a5a;
	background-color: #f8f7f4;
	background-image: url("../img/svg_gllacy/bg_post.svg");
	background-position: 0 0;
	background-repeat: no-repeat;

	width: 490px;
	min-height: 170px;
	margin: 0;
	padding: 25px 35px;
	display: flex;
	flex-direction: column;
}

.subscribe_appeal {
	width: 490px;
	min-height: 65px;
	margin: 0;
	padding: 0;
	margin-bottom: 35px;
} 

.subscribe_field {
	width: 490px;
	min-height: 50px;
	margin: 0;
	padding: 0;
}

.subscribe_field input [type="text"] {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #999999;
	background-color: #ffffff;
	border: 1px solid #999999;
}

.contacts {
	min-width: 1200px;
	min-height: 430px;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contacts_info {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #323232;
	background-color: #fffffe;

	width: 252px;
	height: 243px;
	margin: 0;
	padding: 32px 25px 30px;
}

.contacts_info b {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #323232;
}

.contacts_phone {
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	color: #323232;
}

.footer {
	width: 1146px;
	height: 104px;
	margin: 0 auto;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social_menu,
.documents_menu {
	list-style: none;
}

.social_menu {
	width: 250px;
	min-height: 42px;
	margin: 0;
	padding: 0;
	display: flex;
}

.documents_menu {
	width: 340px;
	min-height: 42px;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.documents_item a {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
	text-decoration: none;
}

.documents_item svg+a {
	font-weight: 700;
}

.copyright {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;

	width: 190px;
	min-height: 64px;
	margin: 0;
	padding: 0;
}

.copyright a {
	text-decoration: none;
}

.copyright a:hover,
.copyright a:focus,
.copyright a:active {
	color: #ffbc9e;
}

.modal {
	background-color: #f8f7f4;
}

.modal label {
	color: #555555;
}

.modal form input,
.modal form textarea {
	background-color: #ffffff;
	color: #999999;
	border: 1px solid #999999;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}

.modal_link {
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #323232;
}

.modal_feedback legend {
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
	color: #323232;
}

.modal .modal_feedback input,
.modal .modal_feedback textarea {
	font-size: 16px;
	line-height: 24px;
}

.modal_basket_list {
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	color: #323232;
}

.modal_basket_netto_price span {
	color: #999999;
}

.modal_basket_amount {
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
	color: #323232;
}

.header_breadcbs {
	width: 560px;
	min-height: 45px;
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: flex-end;
}

.breadcbs_item {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}

.breadcbs_item a {
	text-decoration: none;
	color: #ffffff;
}

.breadcbs_item a:hover,
.breadcbs_item a:focus,
.breadcbs_item a:active {
	color: #ffbc9e;
}

.container_catalog {
	width: 1146px;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: column;

	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}

.container_catalog_title {
	width: 879px;
	min-height: 45px;
	margin: 0;
	padding: 0;
	margin-bottom: 25px;
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
}

.filter {
	width: 879px;
	min-height: 135px;
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}

.filter_list {
	width: 879px;
	min-height: 135px;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	line-height: 1.125;
}

.filter_item {
	background-color: #a3b5aa;
}

.filter_item legend {
	font-size: 14px;
	line-height: 16px;
}

.filter_item select {
	background-color: #a3b5aa;
	border: 0;
}

.filter_item option {
	font-size: 14px;
	line-height: 16px;
	background-color: #ffffff;
	color: #323232;
}

.filter_item select:hover, 
.filter_item select:focus {
	background-color: #ffffff;
	color: #323232;
}

.filter_btn {
	background-color: #a3b5aa;
	border: 2px solid #ffffff;
}

.filter_btn:hover,
.filter:focus {
	background-color: #ffffff;
	border: 2px solid #ffffff;
	color: #323232;
}

.filter_btn:active {
	background-color: #eaeaea;
	border: 2px solid #eaeaea;
	box-shadow: inset 0 2px 2px 0 #6a6b6a;
}

.pagination {
	width: 1146px;
	min-height: 30px;
	margin: 0;
	padding: 0;
	margin-top: 80px;
	margin-bottom: 40px;
	display: flex;
	justify-content: flex-end;
}

.pagination_list {
	width: 190px;
	min-height: 30px;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	list-style: none;
	line-height: 1.125;
}

.pagination_btn {
	background-color: #849d8f;
	color: #ffffff;
	border: 0;
}

.pagination_link:hover,
.pagination_link:focus,
.pagination_btn:hover,
.pagination_btn:focus {
	background-color: #a3b5aa;
	color: #ffffff;
}

.pagination_link:active,
.pagination_btn:active {
	background-color: #ffffff;
	color: #353535;
}

.pagination_btn:disabled {
	color: #a3b5aa;
}