
body {
	font-size: 18px;
	line-height: 22px;
	color: #ffffff;
	font-weight: bold;
	font-family: "Roboto", "Arial", "sans-serif";
	background-color: #884422;
}

.promo_icecream h3 {
	font-size: 60px;
	line-height: 60px;
	color: #ffffff;
	font-weight: bold;
	font-family: "Roboto", "Arial", "sans-serif";
}

.bonus_info h3 {
	font-size: 35px;
	line-height: 41px;
	color: #ffffff;
	font-weight: bold;
	font-family: "Roboto", "Arial", "sans-serif";
}

.container h1 {
	font-size: 35px;
	line-height: 41px;
	color: #ffffff;
	font-weight: bold;
	font-family: "Roboto", "Arial", "sans-serif";
}

